<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Form</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="/hostInfo" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" type="text" class="form-control" id="title" placeholder="Enter title">
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</body>
</html>
