<!DOCTYPE html>
<html>
<head>
    <title>Join Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #17a2b8; /* This is the color of Bootstrap's btn-info */
            color: white; /* This will make the text color white */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">To join, use this key</h1>
        <h1 style="text-align: center;">Join Key: <%= code %>  </h1>
    </div>
    
</body>
</html>
